[submodule "DreamSongUI"]
	path = DreamSongUI
	url = https://github.com/InterfaceGuy/DreamSongUI
[submodule "TaylorExpansion"]
	path = TaylorExpansion
	url = https://github.com/InterfaceGuy/TaylorExpansion.git
[submodule "SpotlightVsFloodlightAwareness"]
	path = SpotlightVsFloodlightAwareness
	url = https://github.com/InterfaceGuy/SpotlightVsFloodlightAwareness.git
[submodule "MolochAndMiracleField"]
	path = MolochAndMiracleField
	url = https://github.com/InterfaceGuy/MolochAndMiracleField.git
